---
import { Image } from "astro:assets";
import Avatar from "../images/2150041848.jpg";
---

<!-- Contact section -->
<section class="bg-gray-100 relative pt-12 dark:bg-gray-900">
  <!-- Background pattern -->
  <div
    class="absolute inset-x-0 top-1/2 h-1/2 bg-sky-500 bg-opacity-70 transform -translate-y-1/2 overflow-hidden"
  >
  </div>
  <!-- Contact form -->
  <div
    class="container mx-auto py-8 lg:py-16 px-4 pb-24 lg:pb-32 flex justify-center items-center relative z-10"
  >
    <div class="relative max-w-5xl w-full">
      <!-- Image column -->
      <div
        class="hidden md:block md:w-3/5 bg-gray-500 rounded-lg aspect-[16/9] overflow-hidden"
      >
        <Image
          src={Avatar}
          alt="Avatar large"
          class="rounded-lg shadow-lg w-full h-full object-cover object-[50%_40%]"
        />
      </div>
      <!-- Contact form column -->
      <div
        class="md:absolute md:top-1/2 md:right-[-15%] md:transform md:-translate-y-1/2 md:w-3/5 z-10"
      >
        <div class="bg-sky-900 p-8 rounded-lg shadow-lg max-w-md w-full">
          <h2
            class="mb-4 text-3xl tracking-tight font-extrabold text-center text-gray-300"
          >
            Contactamé!
          </h2>
          <p class="mb-8 font-light text-center text-gray-300 sm:text-lg">
            Comunicate para realizar cualquier consulta o discutir posibles colaboraciones.
          </p>
          <form action="#" class="space-y-6">
            <div>
              <label
                for="first-name"
                class="block mb-2 text-sm font-semibold text-sky-500"
              >
                Nombre
              </label>
              <input
                type="text"
                id="first-name"
                class="block p-3 w-full text-sm font-medium text-sky-500 bg-sky-900 rounded-full border-4 border-gray-300 shadow-sm focus:ring-sky-500 focus:border-sky-500 placeholder-sky-500"
                placeholder="ejm. David"
                required
              />
            </div>
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-semibold text-sky-500"
              >
                Tú correo
              </label>
              <input
                type="email"
                id="email"
                class="block p-3 w-full text-sm text-sky-500 bg-sky-900 rounded-full border-4 border-gray-300 shadow-sm focus:ring-sky-500 focus:border-sky-500 placeholder-sky-500"
                placeholder="ejm nombre@correo.com"
                required
              />
            </div>
            <div class="flex justify-center">
              <button
                type="submit"
                class="py-3 px-5 text-sm font-semibold text-center text-gray-900 rounded-full border-8 border-sky-500 bg-sky-500 hover:bg-sky-300 hover:border-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-500 transition-colors duration-300"
              >
                Enviar!
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
