<!-- Features section -->
<section class="text-gray-800 bg-sky-500 dark:bg-sky-500">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mx-auto mb-8 lg:mb-16 text-center">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        Aptitudes
      </h2>
    </div>
    <!-- Features grid -->
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0 max-w-4xl mx-auto"
    >
      <!-- Notion Icon -->
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12"
        >
          <!-- Use Markdown SVG -->
          <img
            src="/developer_5072860.png"
            alt="Markdown Icon"
            class="w-5 h-5 text-gray-800 lg:w-6 lg:h-6"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold">Lenguajes de Programación y Desarrollo</h3>
        <p class="text-gray-900">ABAP, ABAP OO, WEBSERVICES, SMARTFOMRS, SAPSCRIPTS, ABAP on HANA</p>
      </div>
      <!-- Obsidian Icon -->
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12"
        >
          <!-- Use Obsidian SVG -->
          <img
            src="/briefcase_15197421.png"
            alt="Obsidian Icon"
            class="w-5 h-5 text-gray-800 lg:w-6 lg:h-6"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold">Trabajo en Equipo</h3>
        <p class="text-gray-900">
          Trabajo en equipo con otros desarrolladores, analistas funcionales y stakeholders para alcanzar objetivos comunes.
        </p>
      </div>
      <!-- Astro.js Icon -->
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12"
        >
          <!-- Use Astro SVG -->
          <img
            src="/jewel_6395668.png"
            alt="Astro Icon"
            class="w-5 h-5 text-gray-800 lg:w-6 lg:h-6"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold">Resolución de Problemas</h3>
        <p class="text-gray-900">Identificación y solución efectiva de desafíos técnicos.</p>
      </div>
    </div>
  </div>
</section>
